{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">{{post.question}}</h1>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {{post.contents}}
                </h5>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                댓글
                <h5 class="card-title mb-0">
                    {%for list in answer %}
                    {{list.pk}} : {{list.answer}} 
                    <br>
                    {% endfor %}
                    <br>
                </h5>    
                <form method="POST">
                    {% csrf_token %}
                    <label for="exampleFormControlInput1" class="form-label"> 댓글달기</label>
                    <input type="text" name="answer" class="form-control" id="exampleFormControlInput1">
                    <br>
                    <input class="btn btn-primary" href="" type="submit" value="작성">  
                </form>
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary" href="/ask/" role="button">목록</a>
<a class="btn btn-danger" href="/ask/{{post.pk}}/remove/" role="button">삭제</a>
{% endblock %}