{% extends "base.html" %}
{% block content %}
<div class="row">
  <!-- 좌측 영역 -->
  <div class="col-lg-6">
    <h1 class="h3 mb-3"><strong>Top</strong> Ranker</h1>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- 하루 (임시 다시 수정함)-->
          <div class="col-md">
            <div class="card">
              <div class="card-header">
                <h2>Daily</h2>
              </div>
              {% if rankDay %}

              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">커밋 횟수</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, val in rankDay %}
                  <tr>
                    <th scope="row">{{key}}</th>
                    <td>{{val}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              순위 결과 없음.
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 우측 영역 -->
  <div class="col-lg-6">
    <h1 class="h3 mb-3">Answer<strong> required</strong></h1>
    <div class="card">
      <div class="card-body">
        답변 필요한 질문이 들어갈 영역
      </div>
    </div>
  </div>
</div>


{% endblock %}