{% extends "base.html" %}
{% block content %}
<!--상단영역-->
<!-- for carousel button -->


<div class="row">
  <div class="col">
    <h1 class="h3"><i data-feather="github"></i><strong> Top</strong> Ranker</h1>
    {% comment %} <button type="button" onclick="updateAll()">업데이트</button> {% endcomment %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="options" id='b0' autocomplete="off" checked>
      <label class="btn btn-outline-dark" for="btnradio1"data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0">Daily</label>
    
      <input type="radio" class="btn-check" name="options" id='b1' autocomplete="off">
      <label class="btn btn-outline-dark" for="btnradio2"data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1">Weekly</label>
    
      <input type="radio" class="btn-check" name="options" id='b2' autocomplete="off">
      <label class="btn btn-outline-dark" for="btnradio3"data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2">Monthly</label>
    </div>
  </div>
    <p></p>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        {% for List in allList %}
        {% if forloop.first %}
        <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
            {% endif %}
          {% if List %}
              <table class="table table-borderless table-hover">
                <thead class="table-dark text-center" style="font-size:16px">
                  <tr>
                    <th scope="col">순위</th>
                    <th scope="col">프로필</th>
                    <th scope="col">아이디</th>
                    <th scope="col">이름</th>
                    <th scope="col">커밋</th>
                    {% comment %} <th scope="col">지역</th> {% endcomment %}
                    <th scope="col" width='45%'>BIO</th>
                  </tr>
                </thead>
                <tbody class="text-center" style="font-size:16px;font-weight:bold" height=400>
                  {% for rank, id, cnt, profile in List|slice:":5" %}
                  <tr>
                    {% if rank == 1 %}
                      <td scope="row"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/1st-place-medal_1f947.png" width="50"></td>
                    {% elif rank == 2 %}
                      <td scope="row"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/2nd-place-medal_1f948.png" width="40"> </td>
                    {% elif rank == 3 %}
                      <td scope="row"><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/3rd-place-medal_1f949.png" width="40"></td>
                    {% else  %}
                      <td scope="row">{{rank}}</td>
                    {% endif %}
                    <td scope="row"><img src="{{profile.avatar}}" class="img-fluid rounded-circle mb-2" width="40" height="40"></td>
                    <td scope="row"><a href="{% url 'home:search' %}?githubID={{id}}">{{id|default_if_none:"-"}}</a></td>
                    {% comment %} <td scope="row"><a href="http://www.github.com/{{id}}" target="_blank">{{id|default_if_none:"-"}}</a></td> {% endcomment %}
                    <td scope="row">{{profile.name|default_if_none:"-"}}</td>
                    <td scope="row">{{cnt}}</td>
                    {% comment %} <td scope="row">{{profile.location|default_if_none:"-"}}</td> {% endcomment %}
                    <td>{{profile.bio|default_if_none:"-"}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              순위 결과 없음.
              {% endif %}
            </div>
        {% endfor %}
       
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</div>
<!-- 하단 영역 -->
<div class="row">
  <div class="col">
    <h1 class="h3"><i data-feather="help-circle"></i> Answer<strong> required</strong></h1>
    <div class="row g-3">
      <!-- 질문리스트 start -->
      {% for unsolved in unsolved_list %}
      <div class="col-md-6">
        <a href="{% url 'qna:detail' unsolved.id %}">
        <div class="p-2 card">
          <div class="card-header">
            <p class="text-black">{{unsolved.subject|truncatewords:5}} </p>        </div>
          <div class="card-body">
            <p class="text-black">
            {{unsolved.content|truncatewords:2|safe|striptags}}</p>
          </div>
        </div>
      </a> 
      </div>
      {% endfor %}
      <!-- 질문리스트 end -->
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $("#carouselExampleIndicators").on('slide.bs.carousel', function (e) {
      var idx = $(e.relatedTarget).index();
      //console.log($(e.relatedTarget).index());
      //console.log('slide');
      //console.log('#b'+idx);
      $("#b"+idx).click();
    });
 });
</script>

<!-- 업데이트버튼 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function updateAll(){
    const data = axios({
      url: '/home/updateAll/',
      method: 'get',
      params: {}
    });
    data.then(function (result){
      //document.getElementById(id).innerHTML=result.data
      //console.log(result.data);
    });
  }

</script>
{% endblock %}

