{% extends "base.html" %}
{% block content %}
<!--상단영역-->
<div class="row">
  <div class="col">
    <h1 class="h3"><i data-feather="github"></i><strong> Top</strong> Ranker</h1>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- 하루 (임시 다시 수정함)-->
          <div class="col-md">
            <div class="card">
              <div class="card-header">
                <h2>Weekly</h2>
              </div>
              {% if new_list %}

              <table class="table table-borderless table-hover">
                <thead class="table-dark text-center">
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Profile</th>
                    <th scope="col">ID</th>
                    <th scope="col">커밋</th>
                    {% comment %} <th scope="col">지역</th> {% endcomment %}
                    <th scope="col">BIO</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  {% for rank, id, cnt, profile in new_list %}
                  <tr>
                    {% if rank == 1 %}
                      <td scope="row">🥇</td>
                    {% elif rank == 2 %}
                      <td scope="row">🥈</td>
                    {% elif rank == 3 %}
                      <td scope="row">🥉</td>
                    {% else %}
                      <td scope="row">{{rank}}</td>
                    {% endif %}
                    <td scope="row"><img src="{{profile.avatar}}" class="img-fluid rounded-circle mb-2" width="40" height="40"></td>
                    <td scope="row"><a href="http://www.github.com/{{id}}" target="_blank">{{id|default_if_none:"-"}}</a></td>
                    <td scope="row">{{cnt}}</td>
                    {% comment %} <td scope="row">{{profile.location|default_if_none:"-"}}</td> {% endcomment %}
                    <td>{{profile.bio|default_if_none:"-"}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              순위 결과 없음.
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 하단 영역 -->
<div class="row">
  <div class="col">
    <h1 class="h3"><i data-feather="help-circle"></i> Answer<strong> required</strong></h1>
        <div class="row g-3">
          <div class="col-md-6">
            <div class="p-2 card">
              <div class="card-header">
                질문 이름1
              </div>
              <div class="card-body">
                질문 상세 내역
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-2 card">
              <div class="card-header">
                질문 이름2
              </div>
              <div class="card-body">
                질문 상세 내역
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-2 card">
              <div class="card-header">
                질문 이름3
              </div>
              <div class="card-body">
                질문 상세 내역
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-2 card">
              <div class="card-header">
                질문 이름4
              </div>
              <div class="card-body">
                질문 상세 내역
              </div>
            </div>
          </div>
    </div>
  </div>
</div>


{% endblock %}