{% extends "base.html" %}
{% block content %}

<div class="container">
  <!-- 검색결과창 -->
  {% if msg %}
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h2>{{msg}}</h2>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- 하루 -->
  {% if data %}
  <div class="row row-cols-3">
    <div class="col">
      <h1>MY RANKING</h1>
      <br>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Daily rank
          <span class="badge bg-primary rounded-pill">{{rankD}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Weekly rank
          <span class="badge bg-primary rounded-pill">{{rankW}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Month rank
          <span class="badge bg-primary rounded-pill">{{rankM}}</span>
        </li>
      </ul>

    </div>
  </div>
  {% endif %}

  <!-- 최근커밋내역 -->
  {% if data %}
  <div class="row my-5">
    <div class="col">
      <h1>Recently Commit</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Github ID</th>
            <th scope="col">Repository Name</th>
            <th scope="col">Date</th>
            <th scope="col">Commit Message</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            <th scope="row">{{i.eventid}}</th>
            <td>{{i.userid}}</td>
            <td>{{i.repository}}</td>
            <td>{{i.date}}</td>
            <td>{{i.message}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  <br><br>
  <div class="row">
    <!-- 하루 -->
    <div class="col-md">
      <div class="card">
        <div class="card-header">
          <h2>Daily</h2>
        </div>
        {% if rankDay %}

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">ID</th>
              <th scope="col">커밋 횟수</th>
            </tr>
          </thead>
          <tbody>
            {% for idx, key, val in rankDay %}
            <tr>
              <th scope="row">{{idx}}</th>
              <th scope="row"><a href="http://www.github.com/{{key}}" target="_blank">{{key}}</a></th>
              <td>{{val}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        순위 결과 없음.
        {% endif %}
      </div>
      
      <div style='text-align:center;'>
        <ul class='pagination'>
        {% for i in page_range1 %}
        <li>
        <a href='{% url "home:search" %}?page1={{ i }}&page2={{page2}}&page3={{page3}}'>
        {{ i }}
        </a>
        </li>
        {% endfor %}
        </ul>
        </div>
        
    </div>
    <!-- 주 -->
    <div class="col-md">
      <div class="card">
        <div class="card-header">

          <h2>Weekly</h2>
        </div>
        {% if rankWeek %}
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">ID</th>
              <th scope="col">커밋 횟수</th>
            </tr>
          </thead>
          <tbody>
            {% for idx, key, val in rankWeek %}
            <tr>
              <th scope="row">{{idx}}</th>
              <th scope="row"><a href="http://www.github.com/{{key}}" target="_blank">{{key}}</a></th>
              <td>{{val}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        순위 결과 없음.
        {% endif %}
      </div>
      <div style='text-align:center;'>
        <ul class='pagination'>
        {% for i in page_range2 %}
        <li>
          <a href='{% url "home:search" %}?page1={{page1}}&page2={{i}}&page3={{page3}}'>
        {{ i }}
        </a>
        </li>
        {% endfor %}
        </ul>
        </div>
        
    </div>
    <!-- 한달 -->
    <div class="col-md">
      <div class="card">
        <div class="card-header">

          <h2>Monthly</h2>
        </div>
        {% if rankMonth %}
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">ID</th>
              <th scope="col">커밋 횟수</th>
            </tr>
          </thead>
          <tbody>
            {% for idx, key, val in rankMonth %}
            <tr>
              <th scope="row">{{idx}}</th>
              <th scope="row"><a href="http://www.github.com/{{key}}" target="_blank">{{key}}</a></th>
              <td>{{val}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        순위 결과 없음.
        {% endif %}
      </div>
      <div style='text-align:center;'>
        <ul class='pagination'>
        {% for i in page_range3 %}
        <li>
          <a href='{% url "home:search" %}?page1={{page1}}&page2={{page2}}&page3={{i}}'>
        {{ i }}
        </a>
        </li>
        {% endfor %}
        </ul>
        </div>
        
    </div>
    
  </div>
</div>
{% endblock %}