{% extends "base.html" %}
{% block content %}

<div class="container">
  <!-- 검색결과창 -->
  {% if msg %}
  <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
            <h2>{{msg}}</h2>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- 최근커밋내역 -->
  {% if data %}
  <div class="row">
    <div class="col">
      <h1>Recently Commit</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Github ID</th>
            <th scope="col">Repository Name</th>
            <th scope="col">Date</th>
            <th scope="col">Commit Message</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
              <tr>
                <th scope="row">{{i.eventid}}</th>
                <td>{{i.userid}}</td>
                <td>{{i.repository}}</td>
                <td>{{i.time}}</td>
                <td>{{i.message}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

<br><br>
  <div class="row">
    <!-- 하루 -->
    <div class="col">
      <h2>Daily</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">num</th>
          </tr>
        </thead>
        <tbody>
          {% if rankDay %}
            {% for key, val in rankDay %}
            <tr>
            <th scope="row">{{key}}</th>
            <td>{{val}}</td>
            </tr>
            {% endfor %}
          {% else %}
            순위 결과 없음.
          {% endif %}
        </tbody>
      </table>
    </div>
    <!-- 주 -->
    <div class="col">
      <h2>Weekly</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">num</th>
          </tr>
        </thead>
        <tbody>
          {% if rankWeek %}
            {% for key, val in rankWeek %}
              <tr>
              <th scope="row">{{key}}</th>
              <td>{{val}}</td>
              </tr>
            {% endfor %}
          {% else %}
            순위 결과 없음.
          {% endif %}
        </tbody>
      </table>
    </div>
    <!-- 한달 -->
    <div class="col">
      <h2>Monthly</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">num</th>
          </tr>
        </thead>
        <tbody>
          {% if rankMonth %}
            {% for key, val in rankMonth %}
              <tr>
                <th scope="row">{{key}}</th>
                <td>{{val}}</td>
              </tr>
            {% endfor %}
          {% else %}
            순위 결과 없음.
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}



