{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3"><i data-feather="edit-3"></i> 글 작성하기</h1>

<form enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><strong>게시판 제목</strong></label>
        <input type="text" name="postname" class="form-control" id="exampleFormControlInput1" placeholder="제목은 반드시 입력">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><strong>게시판 내용</strong></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="50" name="contents">{{written}}</textarea>
    </div>
    <div class="mb-3">
        <label for="codelabel" class="form-label"><strong>코드 작성</strong></label>
        <textarea class="form-control" id="codelabel" rows="10" cols="50" name="code_edit"></textarea>
    </div>
    <br>
    
    <div class="row">

        <div class="col-6">

            <input class="form-control" type="file" id="formFile" name="file">
        </div>
        <div class="col-3"></div>
        <div class="col-3 text-end">
            <input class="btn btn-primary" href="free/" type="submit" value="작성">
            <a class="btn btn-secondary" href="/free/" role="button">취소</a>
        </div>
    </div>

</form>
<script>
    document.getElementById('textbox').addEventListener('keydown', function(e) {
        if (e.key == 'Tab') {
          e.preventDefault();
          var start = this.selectionStart;
          var end = this.selectionEnd;
      
          // set textarea value to: text before caret + tab + text after caret
          this.value = this.value.substring(0, start) +
            "\t" + this.value.substring(end);
      
          // put caret at right position again
          this.selectionStart =
            this.selectionEnd = start + 1;
        }
      });
</script>
{% endblock %}