{% extends "base.html" %}
{% block content %}



<div class="container my-3">
    <h2 class="border-bottom py-2">{{ question.subject }}</h2>
    <div class="d-flex justify-content-between">
        <span>
            <a class="btn btn-info" href="{% url 'qna:ok' question.id %}" role="button"> 해결완료 </a>
        </span>
        <h5>작성자 : {{ question.writer }}</h5>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                {% if question.file != '' %}
                    {{ question.file }}
                    <img src='{{ question.file.url }}' width='50%'>
                {% endif %}
                {{ question.content|safe }}
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ question.pub_date }}
                </div>
            </div>
        </div>
    </div>

    <h5 class="border-bottom my-3 py-2">
        {{question.answer_set.count}}개의 답변이 있습니다.
    </h5>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">내용</th>
                <th scope="col">시간</th>
                <th scope="col">   </th>
            </tr>
        </thead>
        <tbody>
        {% for answer in question.answer_set.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ answer.content }}</td>
            <td>{{ answer.create_date }}</td>
            <td>
                {% if user.is_authenticated %}
                    <form action="{% url 'qna:answer_delete' %}" method="post">
                        {% csrf_token %}
                        <INPUT TYPE="hidden" NAME="answer_id" SIZE=10 value={{answer.id}}>
                        <INPUT TYPE="hidden" NAME="question_id" SIZE=10 value={{question.id}}>
                        
                        <!-- 댓글 삭제 관련 모달 -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#삭제">
                            삭제
                        </button>

                        <div class="modal fade" id="삭제" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">정말로 이 댓글을 삭제하시겠습니까?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{answer.content}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                        <button type="submit" class="btn btn-primary">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 댓글 삭제 관련 모달 끝 -->
                    </form>
                {% endif %}
            </td>
        </tr>
                <!-- Modal -->

            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
     

    <form action="{% url 'qna:answer_create' question.id %}"
            method="post" class="my-3">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

        <div class="form-group">
            <textarea name="content" id="content"
                class="form-control" rows="5"></textarea>
        </div>
        <br><input type="submit" value="답변등록" class="btn btn-primary">
    </form>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-primary" href="/qna/" role="button">목록</a>
            {% if question.writer == user.username %}
                <a class="btn btn-danger" href="/qna/{{question.id}}/delete/" role="button">삭제</a>
            {% endif %}
            
          </div>
    </div>
        

{% endblock %}
