
{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">질문 작성</h1>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
{% comment %} <div class="mb-3r"> {% endcomment %}

<!-- highlighJS CDN -->
<link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>

<form method="POST" class="post-form my-3" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- 오류표시 Start -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field in form %}
            {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <!-- 오류표시 End -->
    <div class="form-group">
        <label for="subject">제목</label>
        <input type="text" class="form-control" name="subject" value="{{ form.subject.value|default_if_none:'' }}">
    </div>
    <br>
    <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" id="content" name="content" rows="10" value="{{ form.content.value|default_if_none:''|safe}}"></textarea>
    </div>
    <script type="text/javascript"> 
        $(document).ready(function() { $("#content").summernote(); })
        $('#content').summernote({
            height: 400,
            toolbar: [
                ['fontname'],
                ['fontsizeunit' ,['fontsize']],
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ]
        });
    </script>
    <br>
    <!-- 코드 블럭 시작-->
    <div>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" onclick="ChangePython()" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Python</label>
            <input type="radio" class="btn-check" onclick="ChangeJava()" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">JAVA</label>
            <input type="radio" class="btn-check" onclick="ChangeCpp()" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">C++</label>
        </div>
        <label for="codelabel" class="form-label"><strong>코드 작성</strong></label>
        <textarea class="form-control" id="input" rows="8" name="code_edit"></textarea>
    </div>
    <br>
    <div class="row">
        <pre>
            <code id="output" class="Python">
            </code>
        </pre>
    </div>

    <script>
        var inputarea = document.getElementById("input");
        var outputarea = document.getElementById("output");

        hljs.highlightBlock(outputarea);
        function ChangePython(){
            outputarea.className = 'Python';
            hljs.highlightBlock(outputarea);
        }
        function ChangeJava(){
            outputarea.className = 'JAVA';
            hljs.highlightBlock(outputarea);
        }
        function ChangeCpp(){
            outputarea.className = 'cpp';
            hljs.highlightBlock(outputarea);
        }

        inputarea.addEventListener("input", function (event) {
            outputarea.innerHTML = inputarea.value;
            refreshHighlighting();
        }, false);
        function refreshHighlighting() {
            hljs.highlightBlock(outputarea);
        }
    </script>
    <!-- 코드 블럭 종료-->
    <div class="row">
        <div class="col-6">

            <input class="form-control" type="file" accept="image/jpeg,.txt" id="formFile" name="file" multiple>
        </div>
        <div class="col-3"></div>
        <div class="col-3 text-end">
            <input class="btn btn-primary" href="/qna/" type="submit" value="작성">
            <a class="btn btn-secondary" href="/qna/" role="button">취소</a>
        </div>
    </div>

</form>
{% comment %} </div> {% endcomment %}
<script>
    document.getElementById('textbox').addEventListener('keydown', function(e) {
        if (e.key == 'Tab') {
          e.preventDefault();
          var start = this.selectionStart;
          var end = this.selectionEnd;
      
          // set textarea value to: text before caret + tab + text after caret
          this.value = this.value.substring(0, start) +
            "\t" + this.value.substring(end);
      
          // put caret at right position again
          this.selectionStart =
            this.selectionEnd = start + 1;
        }
      });
</script>
{% endblock %}