
{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">질문 작성</h1>


{% comment %} <div class="mb-3r"> {% endcomment %}

    <form method="POST" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <br>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" name="content" rows="10" value="{{ form.content.value|default_if_none:''}}"></textarea>
        </div>
        <input type="file" accept="image/jpeg,.txt" name="file" multiple>
        <br>
        <button type="submit" class="btn btn-primary">저장하기</button>
        <a class="btn btn-secondary" href="/qna/" role="button">취소</a>
    </form>
{% comment %} </div> {% endcomment %}

{% endblock %}