
{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">질문 작성</h1>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
{% comment %} <div class="mb-3r"> {% endcomment %}

    <form method="POST" class="post-form my-3" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                    <strong>{{ field.label }}</strong>
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <br>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" name="content" rows="10" value="{{ form.content.value|default_if_none:''|safe}}"></textarea>
        </div>
        <script type="text/javascript"> 
            $(document).ready(function() { $("#content").summernote(); })
            $('#content').summernote({
                height: 400,
                toolbar: [
                    ['fontname'],
                    ['fontsizeunit' ,['fontsize']],
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ]
            });
        </script>
        <br>
        <div>
            <input class="form-control" type="file" accept="image/jpeg,.txt" name="file" multiple>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">저장하기</button>
        <a class="btn btn-secondary" href="/qna/" role="button">취소</a>
        </div>
    </form>
{% comment %} </div> {% endcomment %}

{% endblock %}