{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">질문게시판</h1>


{% if question_list %}
{% for question in question_list %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    <li><small>{{ forloop.counter }} </small></li>
                    <div class="d-flex justify-content-between">
                        <a></a>
                        {{ question.pub_date }}
                    </div>
                </h5>
            </div>
            <a href="{% url 'qna:detail' question.id %}"><h2 class="card-body">
                {{ question.subject }}
            </h2></a>
        </div>
    </div>
</div>
{% endfor %}
{% else %}

<td colspan="3">질문이 없습니다.

    {% endif %}
    <a href="{% url 'qna:question_create' %}" class="btn btn-primary">
        질문 등록하기
    </a>

    {% endblock %}