<!-- footer 영역 시작 -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row text-muted">
      <div class="col-6 text-start">
        <p class="mb-0">
          <a class="text-muted" href="https://github.com/cmc9595/Aivler-Ranking-System" target='_blank'><strong>수도권 AI
              1반 2조</strong></a>
        </p>
      </div>
      <div class="col-6 text-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="text-muted" href="#">김태형</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#">서현직</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#">이대용</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#">전현근</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#">천명철</a>
          </li>
          <li class="list-inline-item">
            <a class="text-muted" href="#">최아현</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- footer 영역 끝 -->