<!-- 네비게이션 바 영역 시작 -->
<nav class="navbar navbar-expand navbar-light navbar-bg">
  <!-- 사이드 바 on/off 버튼 -->
  <a class="sidebar-toggle js-sidebar-toggle">
    <i class="hamburger align-self-center"></i>
  </a>
  <!-- 상단 navbar 시작 -->
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav w-100 justify-content-between">
      <!-- github 입력 관련 공간 -->
      <li>
        <!-- justify-content-between 위한 공백 -->
      </li>
      <li>
        <style>
          @media (max-width: 1024px) {
            #my_ranking_txt{
              display:none;
            }
          }
        </style>
          <i id="my_ranking_txt">현재 나의 순위는?</i>{% include 'search_form.html' %}
      </li>
      <li>
        <!-- 모달 버튼 -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#도움말">
        도움말
      </button>
      <!-- Modal -->
      <div class="modal fade" id="도움말" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="help_modal">에이블러들의 커밋 정보와 이야기를 공유하는 공간입니다.</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
              º 메인 화면에서 커밋 랭커와 답변이 필요한 질문을 확인하세요.<br><br>
              º 궁금한 에이블러의 랭킹을 검색창에 입력해주세요.<br><br>
              º 사이드바를 이용해 다른 페이지를 둘러보세요.<br><br>
              º 사이드바에서 다른 에이블러들의 최근 커밋을 볼 수 있어요.<br><br>
              º 자유게시판은 자유롭게 정보와 의견을 주고 받는 공간이에요.<br><br>
              º 질문게시판은 궁금한 내용을 자유롭게 올려주세요.<br><br>
              º 전체 랭킹을 일간, 주간, 월간으로 볼 수 있어요.<br><br>
              </div>
          </div>
        </div>
      </div>
      <!-- 모달 끝 -->
        {% if user.is_authenticated %}
            <button class="btn btn-outline-primary" onclick="location.href ='{% url 'common:logout' %}'" >
                {{ user.username }} (로그아웃)
            </button>
        {% else %}
            <button class="btn btn-outline-primary" onclick="location.href ='{% url 'common:login' %}'" >
                로그인
            </button>
          {% endif %}
      </li>
    </ul>
  </div>
  <!-- 상단 navbar 끝 -->
</nav>