<!-- 네비게이션 바 영역 시작 -->
<nav class="navbar navbar-expand navbar-light navbar-bg">
  <!-- 사이드 바 on/off 버튼 -->
  <a class="sidebar-toggle js-sidebar-toggle">
    <i class="hamburger align-self-center"></i>
  </a>
  <!-- 상단 navbar 시작 -->
  <div class="navbar-collapse collapse">
    <ul class="navbar-nav w-100 justify-content-between">
      <!-- github 입력 관련 공간 -->
      <li>
        <!-- justify-content-between 위한 공백 -->
      </li>
      <li>
        <style>
          @media (max-width: 1024px) {
            #my_ranking_txt{
              display:none;
            }
          }
        </style>
          <i id="my_ranking_txt">현재 나의 순위는?</i>{% include 'search_form.html' %}
      </li>
      <li>
        <!-- 모달 버튼 -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#도움말">
        도움말
      </button>
      <!-- Modal -->
      <div class="modal fade" id="도움말" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">도움말</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
              º 도움말 내용 1 <br>
              º 도움말 내용 2 <br>
              º 도움말 내용 3 <br>
              º 도움말 내용 4 <br>
              º 도움말 내용 5 <br>
              º 도움말 내용 6 <br>
              </div>
          </div>
        </div>
      </div>
      <!-- 모달 끝 -->
        {% if user.is_authenticated %}
            <button class="btn btn-outline-primary" onclick="location.href ='{% url 'common:logout' %}'" >
                {{ user.username }} (로그아웃)
            </button>
        {% else %}
            <button class="btn btn-outline-primary" onclick="location.href ='{% url 'common:login' %}'" >
                로그인
            </button>
          {% endif %}
      </li>
    </ul>
  </div>
  <!-- 상단 navbar 끝 -->
</nav>