{%load static%}
<!-- 사이드바 시작 -->
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="http://127.0.0.1:8000/">
      <span class="align-middle"><img src={% static 'img/icons/Main_logo.png' %} alt="1"></span>
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="http://127.0.0.1:8000/free/">
          <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">자유
            게시판</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="http://127.0.0.1:8000/qna/">
          <i class="align-middle" data-feather="align-right"></i> <span class="align-middle">질문
            게시판</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'home:ranking' %}">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">전체 랭킹</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="http://127.0.0.1:8000/guest_book/">
          <i class="align-middle" data-feather="book"></i> <span class="align-middle">방명록</span>
        </a>
      </li>
      <!-- 커밋 메시지 자리 -->
      
        
      </a>
      <li class="sidebar-header"data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        <strong>에이블러들의 최근 커밋 <i data-feather="arrow-down-circle" ></i></strong>
        <!-- 최근 커밋 0 -->
        <hr>
        <style>
          #commit_list a{
              color: #ced4da;
              background-color: #222e3c;
              
          }
        </style>
        <div class="collapse" id="collapseExample">
          <div class="alert alert-primary" role="alert">
            <div class="alert-message">
              <p id="commitmsg0">최근 커밋 메시지가 없어요 😂</p>
            </div>
          </div>
          <div class="alert alert-light" role="alert">
            <div class="alert-message">
              
              <p id="commitmsg1">최근 커밋 메시지가 없어요 😂</p>
            </div>
          </div>
          <div class="alert alert-success" role="alert">
            <div class="alert-message">
              
              <p id="commitmsg2">최근 커밋 메시지가 없어요 😂</p>
            </div>
          </div>
          <div class="alert alert-secondary" role="alert">
            <div class="alert-message">
              
              <p id="commitmsg3">최근 커밋 메시지가 없어요 😂</p>
            </div>
          </div>
      </div>

      </li>
      <!-- 커밋 관련 자리 끝 -->
    </ul>
  </div>
</nav>
<!-- 사이드바 끝 -->

<!-- recently commitmessage javascript -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function getCommitMsg(index, id){
    
    const data = axios({
      url: '/home/commitmsg/',
      method: 'get',
      params: {
        'num': index
      }
    });
    data.then(function (result){
      document.getElementById(id).innerHTML=result.data
      //console.log(result.data);
    });
  }
  getCommitMsg(0, 'commitmsg0')
  getCommitMsg(1, 'commitmsg1')
  getCommitMsg(2, 'commitmsg2')
  getCommitMsg(3, 'commitmsg3')
  getCommitMsg(4, 'commitmsg4')

</script>