<!-- 사이드바 시작 -->
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="http://127.0.0.1:8000/">
      <span class="align-middle">Aivler Ranking</span>
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="http://127.0.0.1:8000/free/">
          <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">자유
            게시판</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="#">
          <i class="align-middle" data-feather="align-right"></i> <span class="align-middle">질문
            게시판</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="#">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">전체 랭킹</span>
        </a>
      </li>
      <!-- 커밋 메시지 자리 -->
      <li class="sidebar-header">
        에이블러들의 최근 커밋
        <p>
          <a class="btn btn-secondary mt-2 w-100" data-bs-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            커밋 메시지 1
          </a>
        <div class="collapse" id="collapseExample">
          <div class="card card-body bg-black">
            db 기반으로 커밋 내용 삽입할 공간
          </div>
        </div>
        <a class="btn btn-secondary mt-2 w-100" data-bs-toggle="collapse" href="#collapseExample2" role="button"
          aria-expanded="false" aria-controls="collapseExample2">
          커밋 메시지 2
        </a>
        <div class="collapse" id="collapseExample2">
          <div class="card card-body bg-black">
            db 기반으로 커밋 내용 삽입할 공간
          </div>
        </div>
        </p>
      </li>
      <!-- 커밋 관련 자리 끝 -->
    </ul>
    <div class="sidebar-cta">
    </div>
  </div>
</nav>
<!-- 사이드바 끝 -->