<!-- 사이드바 시작 -->
<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="http://127.0.0.1:8000/">
      <span class="align-middle">Aivler Ranking</span>
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Pages
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="http://127.0.0.1:8000/free/">
          <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">자유
            게시판</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="http://127.0.0.1:8000/qna/">
          <i class="align-middle" data-feather="align-right"></i> <span class="align-middle">질문
            게시판</span>
        </a>
      </li>

      <li class="sidebar-item">
        <a class="sidebar-link" href="{% url 'home:search' %}">
          <i class="align-middle" data-feather="user"></i> <span class="align-middle">전체 랭킹</span>
        </a>
      </li>
      <!-- 커밋 메시지 자리 -->
      <li class="sidebar-header">
        에이블러들의 최근 커밋
        <!-- 최근 커밋 0 -->
        <p>
          <a class="btn btn-secondary mt-1 w-100" data-bs-toggle="collapse" href="#recent_0" role="button"
            aria-expanded="false" aria-controls="recent_0">
            커밋 메시지 1
          </a>
          <div class="collapse" id="recent_0">
            <div class="card card-body bg-black">
              <p id="commitmsg0">커밋 내용 0</p>
            </div>
          </div>
        </p>
        <!-- 최근 커밋 1 -->
        <p>
          <a class="btn btn-secondary  w-100" data-bs-toggle="collapse" href="#recent_1" role="button"
            aria-expanded="false" aria-controls="recent_1">
            커밋 메시지 2
          </a>
        </p>
        <div class="collapse" id="recent_1">
          <div class="card card-body bg-black">
            <p id="commitmsg1">커밋 내용 1</p>
          </div>
        </div>
        </p>
        <!-- 최근 커밋 2 -->
        <p>
          <a class="btn btn-secondary  w-100" data-bs-toggle="collapse" href="#recent_2" role="button"
            aria-expanded="false" aria-controls="recent_2">
            커밋 메시지 3
          </a>
        </p>
        <div class="collapse" id="recent_2">
          <div class="card card-body bg-black">
            <p id="commitmsg2">커밋 내용 2</p>
          </div>
        </div>
        </p>
        <!-- 최근 커밋 3 -->
        <p>
        <a class="btn btn-secondary  w-100" data-bs-toggle="collapse" href="#recent_3" role="button"
        aria-expanded="false" aria-controls="recent_3">
        커밋 메시지 4
        </a>
      </p>
      <div class="collapse" id="recent_3">
        <div class="card card-body bg-black">
          <p id="commitmsg3">커밋 내용 3</p>
        </div>
      </div>
    </p>
  </li>
    
      <!-- 커밋 관련 자리 끝 -->
    </ul>
    <div class="sidebar-cta">
    </div>
  </div>
</nav>
<!-- 사이드바 끝 -->

<!-- recently commitmessage javascript -->
<script>
  document.getElementById('commitbox').innerHTML="이순신"
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function getCommitMsg(index, id){
    
    const data = axios({
      url: '/home/commitmsg/',
      method: 'get',
      params: {
        'num': index
      }
    });
    data.then(function (result){
      document.getElementById(id).innerHTML=result.data
      console.log(result.data);
    });
  }
  getCommitMsg(0, 'commitmsg0')
  getCommitMsg(1, 'commitmsg1')
  getCommitMsg(2, 'commitmsg2')
  getCommitMsg(3, 'commitmsg3')
</script>